.App {
  position: relative;
  background-image: linear-gradient(var(--dkGray), black);
  width: 100%;
  min-height: calc(100vh + 100vh);
}

.galaxy {
  position: absolute;
  top: 10%;
  left: 10%;
  background-image: url('./assets/galaxy.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 85vw;
  height: 85vw;
  animation: rotate 300s linear infinite;
}

.mainWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2
}

.leaflet-container {
  width: 85vw;
  height: 60vw;
  border-radius: .5rem;
  border: solid var(--dkMagenta)
}

@keyframes rotate {
  0% {transform: rotateZ(0)}
  100% {transform: rotateZ(360deg)}
}
