@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--moonGray);
  font-family: 'Roboto', sans-serif;
}


:root {
  --dkPurple: #1c1026;
  --moonGray: #c6bbb9;
  --dkMagenta: #4c1e3c;
  --dkGray: #21242b;
  --moonLavender: #7a748c;
  --burntOrange: #f75819;
}
